:root {
  --gray-color: #ececec;
  --brown-light: #cebbb5;
  --brown-dark: #867674;
  --brick-red: #cc9282;
  --beige-color: #e6d5c3;
  --warm-gray: #ece7e5;

  --main-font: "Bona Nova", serif;

  --buttons-padding: 15px;
  --font-size-buttons: 15px;
  --tumbnail-margin: 20px;
}

body {
  margin: 0px;
}
/*header&model + vedio*/
.header {
  display: flex;
  flex-direction: row;
}

.header .imgs {
  max-width: 660px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.header .imgs img {
  width: 100%;
  height: auto;
}

.header .mainLogo {
  font-family: var(--main-font);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: var(--brown-light);
  transition-duration: 1000ms;
}
.header .mainLogo:hover {
  color: var(--brick-red);
  cursor: pointer;
}

.header .mainVideo {
  min-width: 661px;
  height: auto;
}
.header video {
  width: 100%;
  display: none;
}

/*buttons-->*/
.buttons {
  display: flex;
  justify-content: center;
  padding-top: calc(var(--buttons-padding) * 2);
  padding-bottom: calc(var(--buttons-padding) * 2);
  background-color: var(--beige-color);
  position: sticky;
  top: 0;
  opacity: 0.8;
}
.buttons button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px var(--buttons-padding);
  font-family: var(--main-font);
  font-size: var(--font-size-buttons);
  transition-duration: 300ms;
}
.buttons button:hover {
  transform: scale(1.1);
  color: var(--brown-dark);
}

/*displayGoods-->*/
.displayGoods {
  background-color: var(--warm-gray);

  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  font-size: 13px;
}
.displayGoods .rapGoods {
  padding: 0px;
  margin: 0px;

  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}
.displayGoods .goods {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displayGoods .goods img {
  width: 150px;
  height: 180px;
  object-fit: contain;
  margin-top: var(--tumbnail-margin);
}
.displayGoods .goods .goodsPrice {
  cursor: pointer;
}

@media screen and (min-width: 660px) {
  .header .imgs {
    display: none;
    transition-duration: 300ms;
  }

  .header video {
    width: 100%;
    display: flex;
  }
  .header .mainLogo {
    z-index: 0;
    top: 20%;
  }
  .buttons {
    position: absolute;
    width: 100%;
    justify-content: space-evenly;
  }

  .displayGoods {
    display: flex;
    flex-direction: column;
  }
  .displayGoods .rapGoods {
    float: left;
  }
  .displayGoods .rapGoods .goods {
    display: flex;
    flex-direction: row;
  }
}
